<div class="login">
    <div class="center-content">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title class="center">Ingresar</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form autocomplete="off" [formGroup]="loginForm">
                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Documento</mat-label>
                        <input matInput placeholder="Documento" formControlName="documento" />
                        <mat-hint>Ingrese el número de documento (entre 7 y 10 caracteres/
                            actual:{{loginForm.controls.documento.value.length}})</mat-hint>
                        <mat-error>
                            {{loginForm.controls.documento.value.length === 0? 'La documento es obligatoria':
                            'Ingresa una documento entre 7 y 10 caracteres (actual:' +
                            loginForm.controls.documento.value.length + ')'}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput placeholder="Password" formControlName="password">
                        <mat-icon matSuffix>vpn_key</mat-icon>
                        <mat-hint>Ingrese su password</mat-hint>
                        <mat-error>El password es obligatorio</mat-error>
                    </mat-form-field>
                </form>
                <button mat-raised-button color="primary" (click)="login()"
                    [disabled]="!loginForm.valid">Ingresar</button>
            </mat-card-content>
        </mat-card>
    </div>
</div>