.login {
    background-size: cover;
    position: fixed;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-image: url('https://i.imgur.com/EhSSiYU.jpg');
    /* opacity: 0.4; */
}

.example-card {
    max-width: 400px;
    max-height: 350px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    min-height: 20vh;
}

.center-content {
    margin-top: 130px;
    text-align: -webkit-center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.example-form {
    min-width: 150px;
    max-width: 400px;
    width: 100%;
}

.example-full-width {
    margin-top: 10px;
    width: 100%;
}

.mat-button {
    margin-top: 20px;
    margin-bottom: 20px;
}

.center {
    display: inline;
    float: center;
}

.check {
    opacity: 0.6;
    margin-bottom: 10px;
    margin-top: 10px;
    
}

mat-card-header {
    margin-top: 5px;
    margin-bottom: 10px;
}