<mat-toolbar class=".bg-darken-gray expanded">
    <div class="logo" [routerLink]="['/home']"></div>
    <span class="spacer"></span>
    <button class="card-button2" mat-button [routerLink]="[ '/home']" (click)="logout()">Cerrar sesión</button>
</mat-toolbar>
<div fxLayout="column">
    <div class="container">
        <div fxLayoutAlign="center" class="head">
            <div>
                <form class="search" [formGroup]="buscarForm">
                    <mat-form-field class="mat-form-field">
                        <mat-label>Buscar Contratista</mat-label>
                        <input type="text" matInput placeholder="Documento..." disabled>
                    </mat-form-field>
                    <button mat-button disabled>
                        <mat-icon class="button" matSuffix>search</mat-icon>
                    </button>

                </form>
                <button class="button" mat-button routerLink="/pages/users/admin/gestionar">
                    <mat-icon>keyboard_backspace</mat-icon> Volver
                </button>
            </div>
        </div>
        <hr style="margin-top: 20px;">
    </div>

    <div class="center-content">
        <mat-card class="example-card">
            <mat-card-content>
                <form [formGroup]="turnosMasivosForm">
                    <mat-form-field appearance="outline" class="completo">
                        <ngx-mat-file-input placeholder="Seleccione el archivo" type="file" accept=".txt" formControlName="archivoMasivo">
                        </ngx-mat-file-input>
                        <mat-hint>Agrege el archivo de turnos</mat-hint>
                        <mat-error>Campo obligatorio</mat-error>
                    </mat-form-field>
                </form>
            </mat-card-content>
            <mat-card-actions>
                <button class="card-button" style="margin-bottom: 10px;" mat-raised-button (click)="guardar($event)">
                    <mat-icon>arrow_upward</mat-icon> Cargar Turnos
                </button>
            </mat-card-actions>
        </mat-card>
    </div>