<mat-toolbar class=".bg-darken-gray expanded">
    <div class="logo" [routerLink]="['/home']"></div>
    <span class="spacer"></span>
    <button class="card-button2" mat-button [routerLink]="[ '/home']" (click)="logout()">Cerrar sesión</button>
</mat-toolbar>
<div fxLayout="column">
    <div class="container">
        <div fxLayoutAlign="center" class="head">
            <div>
                <form class="search" [formGroup]="buscarForm">
                    <mat-form-field class="mat-form-field">
                        <mat-label>Buscar Contratista</mat-label>
                        <input formControlName="documento" type="text" matInput placeholder="Documento...">
                    </mat-form-field>
                    <button mat-button (click)="buscar()">
                        <mat-icon class="button">search</mat-icon>
                    </button>
                </form>
                <button class="button" mat-button routerLink="../">
                    <mat-icon>keyboard_backspace</mat-icon> Volver
                </button>
                <button class="button" style="margin-left: 10px;" mat-button routerLink="/pages/users/admin/masivos">
                    Carga masiva
                </button>
            </div>

        </div>
        <hr style="margin-top: 20px;">
    </div>
    <!-- Formulario de adición de turnos -->
    <div class="center-content" *ngIf="contratista.length>0">
        <mat-card class="example-card">
            <mat-card-content>
                <label> <strong>Nombre: </strong>{{contratista[0].nombre}}</label>
                <label style="margin-left: 20px;"> <strong>Documento: </strong>{{contratista[0].documento}}</label>
                <form autocomplete="off" [formGroup]="agregarTurnoForm">
                    <mat-form-field appearance="outline" class="completo">
                        <mat-label>Labor</mat-label>
                        <mat-select formControlName="labor" [ngModel]="selectedLabor"
                            (ngModelChange)="onChange($event)">
                            <mat-option [value]="labor.nombre" *ngFor="let labor of labores">{{labor.nombre}}
                            </mat-option>
                        </mat-select>
                        <mat-hint>Seleccione la labor a desempeñar</mat-hint>
                        <mat-error>Campo obligatorio</mat-error>
                    </mat-form-field>
                    <div *ngIf="selectedLabor!='Oficina'">
                        <mat-form-field appearance="outline" class="completo">
                            <mat-label>Fecha</mat-label>
                            <input matInput formControlName="fecha" [min]="hoy" [matDatepickerFilter]="finesSemana"
                                [matDatepicker]="picker" autocomplete="off">
                            <mat-datepicker-toggle type="datetime-local" matSuffix [for]="picker">
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-hint>Ingrese la fecha del turno</mat-hint>
                            <mat-error>La fecha es obligatoria</mat-error>
                        </mat-form-field>
                    </div>
                    <div *ngIf="selectedLabor=='Oficina'">
                        <mat-form-field appearance="outline" class="medio">
                            <mat-label>Fecha Inicio</mat-label>
                            <input matInput formControlName="fechaInicio" [min]="hoy"
                                [matDatepickerFilter]="finesSemana" [matDatepicker]="picker2" autocomplete="off">
                            <mat-datepicker-toggle type="datetime-local" matSuffix [for]="picker2">
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                            <mat-hint>Ingrese la fecha inicial del turno</mat-hint>
                            <mat-error>La fecha es obligatoria</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="medio" style="margin-left: 40px;">
                            <mat-label>Fecha Fin</mat-label>
                            <input matInput formControlName="fechaFin" [min]="hoy" [matDatepickerFilter]="finesSemana"
                                [matDatepicker]="picker3" autocomplete="off">
                            <mat-datepicker-toggle type="datetime-local" matSuffix [for]="picker3">
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker3></mat-datepicker>
                            <mat-hint>Ingrese la fecha final del turno</mat-hint>
                            <mat-error>La fecha es obligatoria</mat-error>
                        </mat-form-field>
                    </div>
                    <div *ngIf="selectedLabor!='Oficina'">
                        <mat-form-field appearance="outline" class="completo">
                            <mat-label>Jornada</mat-label>
                            <mat-select formControlName="jornada">
                                <mat-option [value]="jornada.idJornada" *ngFor="let jornada of jornadas">
                                    {{jornada.nombreJornada}}
                                </mat-option>
                            </mat-select>
                            <mat-hint>Seleccione la jornada de trabajo</mat-hint>
                            <mat-error>Campo obligatorio</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-group mt-1" fxLayout="row wrap" fxLayoutAlign="center"
                        *ngIf="selectedLabor!='Oficina'">
                        <mat-form-field appearance="outline" class="medio">
                            <mat-label>Hora inicio</mat-label>
                            <mat-select formControlName="horaInicio">
                                <mat-option [value]="inicio.value" *ngFor="let inicio of inicio">
                                    {{inicio.nombre}}
                                </mat-option>
                            </mat-select>
                            <mat-hint>Seleccione la jornada de trabajo</mat-hint>
                            <mat-error>Campo obligatorio</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="medio" style="margin-left: 40px;">
                            <mat-label>Hora Fin</mat-label>
                            <mat-select formControlName="horaFin">
                                <mat-option [value]="fin.value" *ngFor="let fin of fin">
                                    {{fin.nombre}}
                                </mat-option>
                            </mat-select>
                            <mat-hint>Seleccione la jornada de trabajo</mat-hint>
                            <mat-error>Campo obligatorio</mat-error>
                        </mat-form-field>
                    </div>
                </form>
            </mat-card-content>
            <mat-card-actions>
                <button *ngIf="selectedLabor=='Campo'" disabled="agregarTurnoForm.invalid" class="card-button"
                    mat-raised-button (click)="guardarCampo()">
                    <mat-icon>save</mat-icon> Guardar
                </button>
                <button *ngIf="selectedLabor=='Oficina'" disabled="agregarTurnoForm.invalid" class="card-button"
                    mat-raised-button (click)="guardarOficina()">
                    <mat-icon>save</mat-icon> Guardar
                </button>
            </mat-card-actions>
        </mat-card>
    </div>