<mat-toolbar class=".bg-darken-gray expanded">
    <div class="logo" [routerLink]="['/home']"></div>
    <span class="spacer"></span>
    <button class="card-button2" mat-button [routerLink]="[ '/home']">Cerrar sesión</button>
</mat-toolbar>
<div fxLayout="column">
    <div fxLayoutAlign="center" class="head">
        <div>
            <form class="search" [formGroup]="buscarForm">
                <mat-form-field class="mat-form-field">
                    <mat-label>Buscar Contratista</mat-label>
                    <input formControlName="documento" type="text" matInput placeholder="Documento...">
                </mat-form-field>
                <button mat-button (click)="buscar()">
                    <mat-icon class="button">search</mat-icon>
                </button>
            </form>
            <button class="button" mat-button routerLink="../">
                <mat-icon>keyboard_backspace</mat-icon> Volver
            </button>
            <button class="button" style="margin-left: 10px;" mat-button (click)="sinTurno()">
                Contratistas sin turno
            </button>

        </div>
    </div>

    <div fxLayoutAlign="center" *ngIf="contratistas.length>0">
        <table mat-table [dataSource]="datasource" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="nombreContratista">
                <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header fxHide.lt-sm> Contratista </th>
                <td mat-cell *matCellDef="let contratista" fxHide.lt-sm> {{contratista.nombre}} </td>
            </ng-container>
            <ng-container matColumnDef="identificacion">
                <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> Identificación </th>
                <td mat-cell *matCellDef="let contratista" fxHide.lt-sm> {{contratista.documento}} </td>
            </ng-container>
            <ng-container matColumnDef="jornada">
                <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> Jornada </th>
                <td mat-cell *matCellDef="let contratista" fxHide.lt-sm> {{contratista.turnos[0].jornada.nombreJornada}} </td>
            </ng-container>
            <ng-container matColumnDef="labor">
                <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> Labor </th>
                <td mat-cell *matCellDef="let contratista" fxHide.lt-sm> {{contratista.turnos[0].labor}} </td>
            </ng-container>
            <ng-container matColumnDef="fecha">
                <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                <td mat-cell *matCellDef="let contratista" fxHide.lt-sm> {{contratista.turnos[0].fechaInicio |
                    date:'d/MMMM/yyyy'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="inicio">
                <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> Inicio </th>
                <td mat-cell *matCellDef="let contratista" fxHide.lt-sm> {{contratista.turnos[0].horaInicio}} </td>
            </ng-container>
            <ng-container matColumnDef="final">
                <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> Final </th>
                <td mat-cell *matCellDef="let contratista" fxHide.lt-sm> {{contratista.turnos[0].horaFin}} </td>
            </ng-container>
            <ng-container matColumnDef="acciones">
                <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> Accciones </th>
                <td mat-cell *matCellDef="let contratista" fxHide.lt-sm>
                    <button class="button" mat-mini-fab color="primary"
                        aria-label="Example icon button with a delete icon" [routerLink]="['./pages/users/admin/turnos',contratista.turnos[0].idTurno]">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button class="button-cancel" mat-mini-fab color="primary"
                        aria-label="Example icon button with a delete icon" (click)="openDialog()">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <!-- elementos necesarios para el mat-table de angular material-->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-paginator *ngIf="contratistas.length>0" [pageSize]="10" fxLayoutAlign="center"style="width: 90%; margin-left:96px;" [pageSizeOptions]="[5, 10, 20, 30, 50, 100]" class="mat-elevation-z8">
</mat-paginator>


</div>