.spacer {
  flex: 1 1 auto;
}

span {
  margin-left: 4px;
}

.expanded {
  color: var(--azul-claro);
  background-color: var(--azul-claro);
}

.logo {
  cursor: pointer;
  background-image: url("https://i.imgur.com/RhXmSYf.png");
  background-size: cover;
  height: 40px;
  width: 170px;
}

.home-header {
  min-height: 35vh;
  max-height: 10vh;
  background-image: url("https://i.imgur.com/lJRTbzU.png ");
  background-attachment: fixed;
  background-size: contain;
}

.home-img:hover {
  filter: grayscale(0.7);
  -webkit-filter: grayscale(0.7);
}

.mat-card-avatar {
  font-size: 2.4rem;
  vertical-align: center;
  text-align: center;
  color: var(--azul-claro);
}

.home-img {
  max-height: 25vh;
  min-height: 20vh;
}

.card-button {
  background-color: var(--azul-claro);
  color: #fff;
  border: 1px solid var(--azul-claro);
}

.card-button:hover {
  background-color: var(--azul-claro2);
  /* font-weight: 200; */
  color: #fff;
}

.content {
  margin: 40px 40px 40px 40px
}

.container {
  background-color: white;
}