.home {
    background-size: cover;
    position: fixed;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-image: url('https://i.imgur.com/lpia8yz.jpg');
    opacity: 0.4;
}

.card {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px
}