<mat-toolbar class=".bg-darken-gray expanded">
    <div class="logo" [routerLink]="['/home']"></div>
    <span class="spacer"></span>
    <button class="card-button2" mat-button [routerLink]="[ '/home']">Cerrar sesión</button>
</mat-toolbar>
<div fxLayout="column">
    <div class="container">
        <div fxLayoutAlign="center" class="head">
            <div>
                <button class="button" mat-button routerLink="/pages/users/admin/turnos">
                    <mat-icon>keyboard_backspace</mat-icon> Volver
                </button>
            </div>
        </div>
        <hr style="margin-top: 20px;">
    </div>
    <!-- Formulario de adición de turnos -->
    <div class="center-content">
        <mat-card class="example-card">
            <mat-card-content>
                <mat-form-field class="completo" appearance="outline" style="margin-top: 30px;">
                    <mat-label>Contratista</mat-label>
                    <input matInput disabled value="{{'Bryan Luis'}}">
                </mat-form-field>
                <mat-form-field class="completo" appearance="outline">
                    <mat-label>Documento</mat-label>
                    <input matInput disabled value="{{'1015466494'}}">
                </mat-form-field>
                <mat-form-field class="completo" appearance="outline">
                    <mat-label>Labor</mat-label>
                    <input matInput disabled value="{{turnos[0].labor}}">
                </mat-form-field>
                <form autocomplete="off" [formGroup]="editarTurnoForm">

                    <div class="form-group mt-1" fxLayout="row wrap" fxLayoutAlign="center">
                        <mat-form-field class="medio" appearance="outline">
                            <mat-label>Hora Inicio</mat-label>
                            <input matInput disabled value="{{turnos[0].horaInicio}}">
                            <mat-hint>Hora de entrada</mat-hint>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="medio" style="margin-left: 40px;">
                            <mat-label>Hora Fin</mat-label>
                            <input id="horaFin" matInput [ngxTimepicker]="hora2" [format]="24" formControlName="horaFin"
                                min="14:00 am" max="06:00 am" [disableClick]="false" />
                            <mat-icon class="button" matSuffix (click)="hora2.open()">schedule</mat-icon>
                            <ngx-material-timepicker [hoursOnly]="true" #hora2 [editableHintTmpl]="hint" #with5Gap>
                                2 </ngx-material-timepicker>
                            <mat-hint>Hora inicial de salida: <strong>{{turnos[0].horaFin}}</strong></mat-hint>
                            <ng-template #hint>
                                <span class="time-hint">Ingrese la hora en formato 24 horas</span>
                            </ng-template>
                        </mat-form-field>
                    </div>
                </form>
            </mat-card-content>
            <mat-card-actions>
                <button class="card-button" mat-raised-button (click)="guardar()">
                    <mat-icon>save</mat-icon> Guardar
                </button>
            </mat-card-actions>
        </mat-card>
    </div>