.login {
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-image: url('https://i.imgur.com/Fbq84jz.jpg');
}

.example-card {
    margin: 250px;
    max-width: 600px;
    align-items: center;
    justify-content: center;
    min-height: 400px;
}

.center-content {
    margin-top: 40px;
    text-align: -webkit-center;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.completo {
    width: 580px;
    margin-left: 10px;
}

.example-full-width {
    margin-top: 10px;
    width: 100%;
}

.example-middle-width {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 280px;
    /* width: 50%; */
}

.mat-button {
    margin-top: 10px;
    width: 100%;
    color: white;
    height: 40px;
    background-color: #3F51B5;
}

.center {
    display: inline;
    float: center;
}

mat-card-header {
    margin-top: 5px;
    margin-bottom: 10px;
}

.tittle {
    font-weight: bold;
    font-size: 2em;
    font-family: 'Signika', 'Belgrano', serif;
}

.icon {
    color: var(--azul-claro);
}

.bar {
    color: var(--azul-claro);
}