.login {
    background-size: cover;
    position: fixed;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-image: url('https://i.imgur.com/Fbq84jz.jpg');
    /* opacity: 0.4; */
}

.example-card {
    max-width: 600px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}

.center-content {
    margin-top: 40px;
    text-align: -webkit-center;
}

.example-form {
    min-width: 150px;   
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    margin-top: 10px;
    width: 100%;
}

.example-middle-width {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 280px;
    /* width: 50%; */
}

.mat-button {
    margin-top: 10px;
    width: 100%;
    color: white;
    height: 40px;
    background-color: #3F51B5;
}

.center {
    display: inline;
    float: center;
}

mat-card-header {
    margin-top: 5px;
    margin-bottom: 10px;
}