<mat-toolbar class=".bg-darken-gray expanded">
    <div class="logo" [routerLink]="['/home']"></div>
    <span class="spacer"></span>
    <button class="card-button2" mat-button [routerLink]="[ '/home']">Cerrar sesión</button>
</mat-toolbar>
<section>
    <div class="center-content">
        <mat-card *ngIf="turnoHoy[0]!=null" class="card-turno">
            <mat-card-header>
                <mat-card-title fxLayoutAlign="center" class="tittle">Tu turno de hoy</mat-card-title>
            </mat-card-header>
            <hr>
            <mat-card-content fxLayoutAlign="center" class="content-turno">
                <label> <strong>Labor: </strong>{{turnoHoy[0].labor}}</label>
                <label> <strong>Jornada: </strong>{{turnoHoy[0].jornada}}</label>
                <label> <strong>Horario: </strong>{{turnoHoy[0].horaInicio}} - {{turnoHoy[0].horaFin}}</label>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="center">
                <button class="card-button mb-3" mat-button [routerLink]="">
                    <mat-icon>add_task</mat-icon> Iniciar
                </button>
            </mat-card-actions>
        </mat-card>
        <mat-card *ngIf="turnoHoy[0]==null" class="card-turno">
            <mat-card-title fxLayoutAlign="center" class="tittle">No tienes turnos registrados para hoy
            </mat-card-title>
        </mat-card>
    </div>
</section>
<section class="container mt-4" gdArea="content">
    <header class="home-header" gdArea="header" fxLayoutAlign="center center"> </header>
    <div fxLayout="row wrap" class="content" fxLayoutAlign="space-evenly start">
        <mat-card fxFlex="25" fxFlex.lt-sm="100" *ngFor="let card of cards">
            <mat-card-header>
                <mat-icon mat-card-avatar>{{card.avatar}}</mat-icon>
                <mat-card-title>{{card.title}}</mat-card-title>
                <mat-card-subtitle>{{card.subtitle}}</mat-card-subtitle>
            </mat-card-header>
            <img class="home-img" mat-card-image [src]="card.img" alt="Photo" />
            <mat-card-actions fxLayout="column" fxLayoutAlign="center center">
                <button class="card-button mb-3" mat-button [routerLink]="[card.urlTo]">{{card.button}}</button>
            </mat-card-actions>
        </mat-card>
    </div>
</section>