.navbar {
    color: var(--azul-claro);
    background-color: var(--azul-claro);
  
}

.spacer {
    flex: 1 1 auto;
}

.logo {
    cursor: pointer;
    background-image: url("https://i.imgur.com/RhXmSYf.png");
    background-size: cover;
    height: 40px;
    width: 170px;
}