<body style="overflow-x:hidden; overflow-y:hidden">
    <a target="_blank">
        <header class="top-header">
        </header>
        <div>
            <div class="starsec"></div>
            <div class="starthird"></div>
            <div class="starfourth"></div>
            <div class="starfifth"></div>
        </div>
        <div class="lamp__wrap">
            <div class="lamp">
                <div class="cable"></div>
                <div class="cover"></div>
                <div class="in-cover">
                    <div class="bulb"></div>
                </div>
                <div class="light"></div>
            </div>
        </div>
        <section class="error">
            <div class="error__content">
                <div class="error__message message">
                    <h1 class="message__title">NADA</h1>
                    <p class="message__text">Esta web es un prototipo, por tanto esta vista aún está en construcción.
                    </p>
                </div>
                <div class="error__nav e-nav">
                    <button mat-button class="e-nav__link" routerLink="/home"></button>
                </div>
            </div>
        </section>
    </a>
</body>